/*
 * Choco color theme for Bubbly-Tap website.
 * Colors you can watch by this link https://coolors.co/app/1e1e24-695958-e2bea3-7097af-e54b5b
 * 1 - background color
 * 2 - disable color
 * 3 - text color
 * 4 - links color
 * 5 - alerts color
 **/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    background-color: #1e1e24;
    color: #e2bea3;
}

/**
* Basic color
*/

.basic_bg{
    background: #e2bea3;
    color: #1e1e24;
}

.basic_border{
    border-color: #e2bea3 !important;
}
/*
* Secondary color
*/

.secondary_text{
    color: #7097af;
}

.secondary_bg{
    background: #7097af;
    color: #1e1e24;
}

.secondary_border
{
    border-color: #7097af !important;
}

/**
* Disable color
*/
.disable{
    color: #695958;
}
/*
* Tertiary color
*/

.tertiary_text{
    color: #e54b5b;
}

.tertiary_bg{
    background-color: #e54b5b;
}

.tertiary_border{
    border-color: #e54b5b !important;
}

/*
* switchers
*/

#vanilla-theme{
    background-color: #fffff0;
}

#choco-theme{
    background-color: #695958;
}

header span{
    background-image: url("../img/icon_dark.png");
}