html {
    font-family: Nunito, sans-serif !important;
    font-size: 1.2em;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* set main containers layout */
header, footer, section{
    margin: 0 auto;
    text-align: center;
    max-width: 52em;
}

footer
{
    padding: 2em;
}

header
{
    padding: 0 1em 1em 1em;
    text-transform:uppercase;
}

h1{ font-size: 3em; margin: 0.2em }
h2{ font-size: 1.8em;}
h3{ font-size: 1.6em; }

section{
    text-align: justify;
    width: 90%;
}
/**
* Factsheet block
*/
aside{
    margin: 0 1em 1em 1em;
    float: left;
    font-size: 0.8em;
}

aside ul, h2, h3, h4, p
{
    padding: 0;
    margin: 0;
}

aside ul li
{
    list-style: none;
    padding-top: 10px;
    display: block;
}
/**
* Main section block
*/
section article{
    margin: 0 1em 1em 1em;
    display: table;
}

section article p{
    margin: 1em 0 1em 0 ;
}

figcaption
{
    margin-bottom: 2%;
}


section a img
{
    width: 100%;
    height: auto;
}

section.images a
{
    width: 50%;
    height: auto;
    float: left;
    display:inline-block;
}

ul
{
    text-align: left;
}

hr{
    clear:both;
}

.hidden_separator
{
    display:none;
}


.download
{
    width: auto !important;
    padding: 1em 2em 1em 2em;
    border-radius: 20px;
    margin: 0 2em 1em 2em;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform:lowercase;
    font-size: 0.8em;
}

.max_width
{
    width: auto !important;
    margin: 2em 0 2em 0;
    float: none !important;
}

.logo
{
    width:40% !important;
}

/* Fluid video setups **/
.video-holder
{
    position: relative;

    height: auto;
}

.video-holder img
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.video-wrapper{
   /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
}
.iframe-container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#video-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/**
Minimals
**/
@media only screen and (max-width: 690px) {

    aside{
        margin: 0 1em 1em 1em;
        float: none;
        text-align: center;
    }

    section article{
        display: block;
    }

    section a
    {
        float: none !important;
        width: 100% !important;
    }

    .hidden_separator
    {
        display: block;
    }
}