/*
 * Main style for Bubbly-Tap website.
 */

html {
    font-family: Nunito, sans-serif !important;
    font-size: 1.2em;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* set main containers layout */
header, footer, section{
    margin: 0 auto;
    text-align: center;
    max-width: 62em;
}

h1, h2, h3{
    margin: 1rem;
}
h1{ font-size: 4em; }
h2{ font-size: 2.2em;}
h3{ font-size: 2em; }

hr{
    margin: 2em;
}

header h1, h2{
    margin:0;
    padding:0;
}

header ul{
    width: 100%;
    margin: 0 auto;
    padding: 0 0 0 0;
}

header ul li {
    list-style: none;
    display: inline-block;
}

header ul li div{
    width: 200px;
    height: 200px;
}

article p{
    padding: 0 5% 0 5%;
    margin: 0;
}

article h3
{
    padding: 0;
    margin: 0;
}
/*
* Circles
*/
.circle{
    position: relative;
    width:100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;
    padding-top: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    resize: vertical;
}

.dashed_circle{
    width:50%;
    min-width: 280px;
    height: auto;
    border: dashed 6px;
    margin: 0 auto;
    border-radius: 50%;
    border-collapse: separate;
    padding: 10px;
}

.in_circle{
    position: absolute;
    left: 1em;
    right: 1em;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.content_holder {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.content_holder li {
    list-style: none;
    display: inline-block;
    width: 40%;

    min-width: 320px;
    margin: 2%;
}

button{
    /*width: 30px;*/
    /*height: 30px;*/
    border: none;
    border-radius: 20px;
    padding: 1rem 3rem 1rem 3rem;
    margin: 1rem;
    cursor:pointer;
    font-family: Nunito, sans-serif !important;
    text-transform: uppercase;
    font-size: 1em;
}

button:focus {outline:0;}

/* Fluid video setups **/
.video-wrapper{
    position: absolute;
    top: 25%;
    left: 10%;
    right: 10%;
    bottom: 25%;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
}

#video-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Lists */
.pagination {
    margin: -5% 0 0 0;
    padding: 0;
}

.pagination li {
    list-style: none;
    display: initial;
    font-size: 3em;
    margin: 0;
    padding: 0 1rem 0 1rem;
}

.other_projects
{
    font-size: 1.5em;
}

.platform{
    font-size: 3rem;
    margin: 2%;
}

@media only screen and (max-width: 500px) {

    h1{ font-size: 2.5em; }
    h2{ font-size: 1.6em;}
    h3{ padding: 0; margin: -5% 0 0 0; }
    header span{
        width: 200px;
        height: 200px;
        position: inherit;
        display: block;
        padding-top: 10%;
    }
    section{
        width: 100%;
    }
    .content_holder li {
        margin: 1em 0 0 0;
    }

    .pagination {
        margin: -10% 0 0 0;
        padding: 0;
    }

}