/*
 * Vanilla color theme for Bubbly-Tap website.
 * Colors you can watch by this link https://coolors.co/app/fffff0-b5b2ab-99cc99-636b9e-bf4e30
 * 1 - background color
 * 2 - disable color
 * 3 - text color
 * 4 - links color
 * 5 - alerts color
 **/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    background-color: #fffff0;
    color: #99cc99;
}

/**
* Basic color
*/

.basic_bg{
    background: #99cc99;
    color: #fffff0;
}

.basic_border{
    border-color: #99cc99 !important;
}
/*
* Secondary color
*/

.secondary_text{
    color: #636b9e;
}

.secondary_bg{
    background: #636b9e;
    color: #fffff0;
}

.secondary_border
{
    border-color: #636b9e !important;
}

/**
* Disable color
*/
.disable{
    color: #b5b2ab;
}
/*
* Tertiary color
*/

.tertiary_text{
    color: #bf4e30;
}

.tertiary_bg{
    background-color: #bf4e30;
}

.tertiary_border{
    border-color: #bf4e30 !important;
}